*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ........................icone....................... */
.ri-more-2-fill{
    font-size: 20px;
    color: #6c7293;
}
.i-color{
    color: white;
}

/* ........................icone end....................... */

.sidebar{
    width:300px;
    transition: all 0.5s;
}
.main{
    height: 100vh;
}
.hideside{
    width:50px;
}


.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.17rem;
    line-height: 1.25;
}
.img-xs{
    width: 35px;
    height: 35px;
}



.icon.icon-box-success {
    width: 40px;
    height: 37px;
    background: rgba(0, 210, 91, 0.11);
    border-radius: 7px;
    color: #0eb154;
}
.icon.icon-box-danger {
    width: 40px;
    height: 37px;
    background: rgba(252, 66, 74, 0.11);
    border-radius: 7px;
    color: #fc424a;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview-icon {
    width: 42px;
    height: 42px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
}

.text-c{
    color: #6c7293
}








