*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ........................icone....................... */
.ri-more-2-fill{
    font-size: 20px;
    color: #6c7293;
}

/* ........................icone end....................... */

.sidebar{
    width:300px;
    transition: all 0.5s;
}
.main{
    height: 100vh;
}
.hideside{
    width:50px;
}


.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.17rem;
    line-height: 1.25;
}
.img-xs{
    width: 35px;
    height: 35px;
}